* {
    font-family: FutureKid, sans-serif;
    color: white;
    font-size: var(--font-md);
    text-shadow:
            calc(var(--font-md) / 12) 0 0 black,
            calc(var(--font-md) / -12) 0 0 black,
            0 calc(var(--font-md) / 12) 0 black,
            0 calc(var(--font-md) / -12) 0 black;
}

h1 {
    font-size: var(--font-xl);
    text-shadow:
            calc(var(--font-xl) / 12) 0 0 black,
            calc(var(--font-xl) / -12) 0 0 black,
            0 calc(var(--font-xl) / 12) 0 black,
            0 calc(var(--font-xl) / -12) 0 black;
    margin-bottom: 1rem;
}

h2 {
    font-size: var(--font-lg);
    text-shadow:
            calc(var(--font-lg) / 12) 0 0 black,
            calc(var(--font-lg) / -12) 0 0 black,
            0 calc(var(--font-lg) / 12) 0 black,
            0 calc(var(--font-lg) / -12) 0 black;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

ul {
    padding-inline-start: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

